.about {
  display: flex;
  flex-direction: row;
  background-color: $aboutBg;
  padding: 57px 0;

  &__info {
    width: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 40px 90px 220px;

    &--paragraph {
      font-family: $main-font;
      font-size: 30px;
      line-height: 60px;
      color: $darkerMain;
      font-weight: 400;
      text-align: center;
    }

    &--signature {
      margin: 10px 0 0 auto;
    }
  }

  &__img {
    width: calc(100vw - 870px);
    background: url('../images/about.jpg') right top no-repeat;
  }
}