.about {
  display: grid;
  grid-template-columns: 870px 1050px;
  background-color: $aboutBg;

  .about__info {
    display: grid;
    padding: 0 60px 0 200px;
    justify-items: center;

    h3 {
      display: grid;
      font-family: $main-font;
      font-size: 40px;
      color: $darkerMain;
      font-weight: 400;
      align-self: flex-end;
      text-align: center;

      #about-decoration {
        margin-top: 20px;
      }
    } 

    p {
      display: grid;
      font-family: $main-font;
      font-size: 30px;
      color: $darkerMain;
      font-weight: 400;
      border-spacing: 100px;
      text-align: center;
      align-self: center;
    }

    &--signature {
      display: grid;
      justify-self: end;
    }
  }

  .about__img {
    max-width: 100%;
    padding: 57px 0;
    display: grid;
    justify-self: end;
  }
}
