$yellowFrame: #f9c910;
$btnChange: #f8d113;
$notificationBg: #fbcb10;
$darkText: #20323c;
$darkerMain: #3c3c3c;
$formCheckbox: #868686;
$lighterMain: #737373;
$threeColumnIcon: #5e5322;
$aboutBg: #ebebeb;