.contact {
  display: grid;
  grid-template-columns: 1000px 900px;
  grid-template-rows: 300px 360px 360px;
  background-color: #eff0f0;
  background-image: url(../../src/images/footer_bg_img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $main-font;

  &--h2 {
    display: grid;
    grid-column: 2/-1;
    justify-self: center;
    align-self: end;
    font-size: 40px;
    color: $darkerMain;
    font-weight: 400;

    img {
      justify-self: center;
      margin: 15px 0;
    }
  }

  .contact__form {
    display: grid;
    grid-column: 2/-1;
    grid-template-columns: repeat(2, 250px);
    grid-gap: 10px 55px;
    justify-self: center;

    &--h3 {
      grid-column: 1/-1;
      margin-top: 80px;
      font-size: 18px;
      color: $darkerMain;
      font-weight: 400;
      text-transform: uppercase;
    }

    input, 
    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $darkerMain;
      padding: 10px 20px;
      margin-top: 20px;
      align-self: end;
      font-family: $main-font;
      font-size: 18px;
      outline: none;
    }

    ::placeholder {
      color: $darkerMain;
    }

    #username {
      grid-column: 1/2;
    }

    #email {
      grid-column: 2/-1;
    }

    #message {
      grid-column: 1/-1;
    }

    #btn {
      grid-column: 1/-1;
      justify-self: center;
      margin-top: 50px;
      padding: 15px;
      border: 1px solid $darkerMain;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .footer {
    display: grid;
    grid-column: 1/-1;
    align-self: end;
    padding-bottom: 30px;

    .footer__media {
      display: grid;
      grid-template-columns: repeat(2, 50px);
      grid-template-rows: 50px;
      grid-gap: 15px;
      margin-right: 180px;
      justify-self: right;
      
      &--link {
        border: 1px solid $darkerMain;
        padding: 12px;
        text-align: center;
      }
    }

    &--h3 {
      justify-self: center;
      font-family: $menu-font;
      font-size: 18px;
      font-weight: 300;
    }
  }
}