.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 120px;
    background: url('../images/header_start_img.jpg') left top no-repeat;

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        margin: 0 0 120px auto;

        .section__title {
            font-weight: 300;
        }
    }

    &__btns {
        display: flex;
        flex-direction: row;
        margin: 0 0 110px auto;

        .link {
            color: $darkerMain;
            font-size: 36px;  
            font-weight: 300;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            width: 200px;
            border: 1px solid $darkerMain;
            margin-left: 80px;
            padding: 20px 50px;
        }
    }
}
    
