.logged__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: url('../images/header_logged_img.jpg') left top no-repeat;
    background-size: contain;

    .logged__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 350px;
        margin-top: -30px;

        .section__title {
            font-weight: 300;
        }

        &--info {
            display: grid;
            grid-template-columns: repeat(4, 100px);
            grid-gap: 55px;
            margin: 30px 0 90px 0;
            justify-self: center;
        }
    }
}

.rectangle {
    position: relative;
    justify-self: center;
    align-self: center;

    &::after {
        content: '';
        position: absolute;
        width: 130px;
        height: 130px;
        border: 1px solid $darkerMain;
        transform: rotate(45deg);
        top: 37px;
        right: -16px;
    }

    &__number {
        font-family: $main-font;
        font-weight: 200;
        font-size: 32px;
        text-align: center;
    }

    &__text {
        margin-top: -15px;
        font-size: 22px;
        font-weight: 200;
        text-align: center;
    }
}

.dropdown__container {
    display: flex;
    flex-direction: row;
    position: relative;

    &--header {
        font-size: 14px;
        color: $lighterMain;
    }

    &--btn {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 0 20px 20px 10px;
        background: url('../../src/images/57.svg') center no-repeat;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        opacity: 0;
        visibility: hidden;
    
        &__list {
            position: absolute;
            top: 25px;
            right: 20px;
            width: 90px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            border: 1px solid $darkerMain;
            background-color: $white;
            list-style: none;
            padding: 5px 10px;
            cursor: pointer;
            transform: translateY(-10px);
            transition: transform 4s ease-in-out;
        
            &--item {
                display: block;
                font-size: 14px;
                color: $darkerMain;
                margin: 10px 0;
            }

            :hover {
                font-weight: 600;
                color: $black;
            }
        }  
    }

    &--active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); 
    }
}