.logIn {
    display: grid;
    grid-template-rows: 200px 700px;
    padding: 45px;
    
    .header__menu {
        margin-right: 200px;
        display: grid;
        justify-self: end;
        grid-template-rows: repeat(2, 60px);

        &--log {
            display: grid;
            grid-template-columns: repeat(5, 200px);
            list-style: none;
            align-items: center;
            justify-items: center;
            
            :first-child {
                grid-column: 4/5;
                justify-self: end;
            }

            :last-child {
                grid-column: 5/-1;
            }

            li {
                font-size: 14px;

                .link {
                    padding: 10px;
                    text-decoration: none;
                    color: $lighterMain;
                    border: 1px solid transparent;

                    &:hover {
                        border: 1px solid $yellowFrame;
                    }
                }
            }
        }

        &--menuList {
            display: grid;
            grid-template-columns: repeat(5, 200px);
            list-style: none;
            justify-items: center;

            li {
                padding: 15px;
                font-size: 18px;
                border: 1px solid transparent;
                font-weight: 300;
                color: $darkerMain;

                &:hover {
                    border: 1px solid $darkerMain;
                }
                
                #menu-link {
                    text-decoration: none;
                    color: $darkerMain;           
                }
            }
        }
    }

    .logIn__form {
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: 200px 95px 95px 95px 150px;
        justify-self: center;

        &--h3 {
            display: grid;
            justify-self: center;
            align-self: end;
            text-align: center;
            font-family: $main-font;
            font-size: 40px;
            font-weight: 400;
            line-height: 100px;
            color: $darkerMain;

            img {
                margin-bottom: 20px;
            }
        }

        input[type=email],
        input[type=password] {
            font-size: 18px;
            border: none;
            padding: 10px 20px;
            border-bottom: 1px solid black;
            align-self: end;
        }

        &--btns {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            input[type=submit] {
                font-size: 18px;
                padding: 15px;
                color: $darkerMain;
                border: none;
                background-color: transparent;

                &:hover {
                    border: 1px solid $darkerMain;

                }
            }

            #register {
                justify-self: start;
                align-self: end;
            }

            #logIn {
                justify-self: end;
                align-self: end;
            }
        }
    }
}