.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;

    .login__form {
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: 200px 95px 95px 95px 150px;
        justify-self: center;

        &--h3 {
            display: grid;
            justify-self: center;
            align-self: end;
            text-align: center;
            font-family: $main-font;
            font-size: 40px;
            font-weight: 400;
            line-height: 100px;
            color: $darkerMain;

            // #decor {
            //     margin-bottom: 20px;
            // }
        }

        input[type=email],
        input[type=password] {
            font-size: 18px;
            border: none;
            padding: 10px 20px;
            border-bottom: 1px solid black;
            align-self: end;
        }
    }
}