.menu {
  display: grid;
  padding: 90px 0;

  h2 {
    display: grid;
    justify-self: center;
    font-family: $main-font;
    color: $darkerMain;
    font-size: 40px;
    font-weight: 400;

    #decor {
        margin-top: 20px;
        justify-self: center;
    }
  }

  .menu__navigation {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    justify-self: center;
    padding: 40px 0;

    &--link {
        font-family: $main-font;
        font-size: 20px;
        font-weight: 400;
        height: 75px;
        text-align: center;
        padding: 8px;
        border: 1px solid transparent;

        a {
            text-decoration: none;
            color: $darkerMain;
        }

        &:hover {
            border: 1px solid $darkerMain;
        }
    } 
  }

  .menu__pages {
    display: grid;
    grid-template-columns: repeat(3, 35px);
    grid-gap: 5px;
    justify-self: center;

    a {
        text-decoration: none;
        text-align: center;
        color: $darkerMain;
    }

    a:hover {
        border: 1px solid $darkerMain;
    }
  }
}