.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 60px 120px 170px 0;

    .authorization {
        display: flex;
        flex-direction: row;
        list-style: none;
    
        .link {
            text-decoration: none;
            font-size: 14px;
            color: $lighterMain;
            padding: 10px;
            margin: 0 10px 0 15px;
            border: 1px solid transparent;
    
            &:hover {
                border: 1px solid $yellowFrame;
            }
        }
    }
    
    .header__menu {
        display: flex;
        flex-direction: row;
        list-style: none;
      
        &--link {
            text-decoration: none;
            font-size: 18px;
            padding: 10px 20px;
            color: $darkerMain;
            margin-left: 20px;
            border: 1px solid transparent;
    
            &:hover {
                border: 1px solid $darkerMain;
            }
        }
    }
}