.specials {
  display: grid;
  grid-template-rows: 200px 300px 220px;

  .specials__title {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    h2 {
      margin-top: 60px;
      font-size: 40px;
      font-family: $main-font;
      color: $darkerMain;
      font-weight: 400;
      justify-self: center;
    }

    img {
      margin: 20px 0;
      justify-self: center;
    }
  }

  .specials__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
    margin: 0 350px;
    padding: 55px 100px;
    background-color: #ebebeb;

    &--singleCol {
      display: grid;
      grid-template-rows: 58px 60px 1px 65px;
      grid-gap: 10px;
      align-items: center;
      justify-items: center;

      img {
        max-width: 100%;
      }

      #underline {
        width: 100px;
        height: 1px;
        background-color: $darkerMain;  
      }

      h2, h3 {
        font-size: 18px;
        text-align: center;
        align-self: flex-end;
        font-family: $main-font;
        font-weight: 400;
        color: $darkerMain;              
      }

      h3 {
        font-size: 16px;
        align-self: flex-start;
      }
    }
  }

  .specials__btn {
    display: grid;
    align-self: center;
    justify-self: center;

    &--link {
      width: 350px;
      padding: 39px 0;
      font-size: 30px;
      color: $darkerMain;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid $darkerMain;
      font-weight: 300;
    }
  }
}