.specials {
  display: flex;
  flex-direction: column;
  padding: 50px 0;

  &__columns {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-gap: 100px;
    margin: 30px auto;
    padding: 55px 100px;
    background-color: $aboutBg;

    .specials__column {
      display: grid;
      grid-template-rows: 58px 60px 1px 65px;
      grid-gap: 10px;
      align-items: center;
      justify-items: center;

      &--img {
        max-width: 100%;
      }

      &--underline {
        width: 100px;
        height: 1px;
        background-color: $darkerMain;  
      }

      &--header, 
      &--info {
        font-size: 18px;
        text-align: center;
        align-self: flex-end;
        font-family: $main-font;
        font-weight: 400;
        color: $darkerMain;              
      }

      &--info {
        font-size: 16px;
        align-self: flex-start;
      }
    }
  }

  &__btn {
    display: grid;
    align-self: center;
    justify-self: center;

    .link {
      width: 350px;
      padding: 39px 0;
      font-size: 30px;
      color: $darkerMain;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid $darkerMain;
      font-weight: 300;
    }
  }
}