.threeColumns__content {
  width: 100%;
  height: 400px;
  background-image: url("../images/bg_3_columns.png");
  display: flex;
  margin-top:-4px;
  justify-content: space-around;
  align-items: center ;
  color: $darkerMain;

  &--singleColumn {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: $main-font;
      font-size: 90px;
      font-weight: lighter;
      margin-bottom: 30px;
      color: $threeColumnIcon;
    }

    h3 {
      font-family: $main-font;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 30px;
      color: $darkerMain;
    }

    p {
      font-family: $menu-font;
      font-size: 16px;
      font-weight: lighter;
      text-align: center;
      margin-bottom: 30px;
      color: $darkerMain;
    }
  }
}