.three__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 70px 80px;
  background-image: url("../images/bg_3_columns.png");

  &--singleCol {
    display: grid;
    grid-template-rows: 100px 50px 100px;
    grid-gap: 20px;
    text-align: center;
    color: $darkerMain;

    h2 {
      font-family: $main-font;
      font-size: 90px;
      font-weight: 300;
      color: $threeColumnIcon;
    }
      
    h3 {
      font-family: $main-font;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      align-self: flex-end;
    }
      
    p {
      font-family: $menu-font;
      padding: 10px 50px;
      text-align: justify;
      font-size: 16px;
      font-weight: 300;
    }
  }
}