@import './styles/grid';

@import './styles/colors';
@import './styles/fonts';



//Header
@import './styles/header';

//ThreeColumns
@import './styles/threeColumns';

//Specials
@import './styles/specials';

//About
@import './styles/about';

//Menu 
@import './styles/menu';
@import './styles/menu_subpages';

//Contact
@import './styles/contact';
@import './styles/footer';

