@import './styles/grid';

@import './styles/colors';
@import './styles/fonts';

//Header
@import './styles/header';

//ThreeColumns
@import './styles/three_columns';

//Specials
@import './styles/specials';

//About
@import './styles/about';

//Menu 
@import './styles/menu';
@import './styles/menu_subpages';

//Contact
@import './styles/contact';

//LogIn
@import './styles/login';

//Register
@import './styles/signup';
@import './styles/form_btns';

//Logged 
@import './styles/logged_header';

//Logged Form 
@import './styles/logged_form';

